@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Carter+One&family=Denk+One&family=Tenor+Sans&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    body {
        font-family: 'Tenor Sans', sans-serif;
        h1, h2, h3, h4, h5, h6 {
            font-family: 'Denk One', sans-serif;
        }
        nav {
            .navbar-brand {
                font-family: 'Carter One', cursive;
            }
            .nav-link {
                font-family: 'Denk One', sans-serif;
            }
        }
        .img-list {
            width: 150px;
            height: 100px;
            border-radius: 5px;
            object-fit: cover;
        }
        
        .cart {
            text-decoration: none;
            color: black;
            .card{
                border-radius: 4px;
                background: #fff;
                box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
                transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
                cursor: pointer;
            }
            .card:hover{
                transform: scale(1.05);
                box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
           }
           .price {
            font-size: 2rem;
            font-weight: 800;
        }
        }
    }
}